<manifest package="com.tokeninc.locationtracker"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application>
        <activity android:name=".LocationPermissionActivity"/>
        <service android:name=".ForegroundLocationTracker"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.tokeninc.locationtracker.REQUEST_LOCATION"/>
            </intent-filter>
        </service>
    </application>
</manifest>
